.navbar {
    width: 100vw!important;
}

.myform {
    align-self: center;
}

.below-nav{
    padding-top: 5rem;
  }

.ordersClosed {
    color: red;
    font-weight: bold;
    font-size: small;
    text-align: center;
}