@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.title_font {
  font-family: 'Dancing Script', sans-serif !important;
  margin: 0;
  padding: 0;
}

.clock_collapse{
  color: rgb(81, 100, 89);
}
.clock_collapse:hover{
  color: rgb(53, 66, 59);
  background-color: #e6e6e6a2;
}


.clock_collapse:focus
{
  color: rgb(81, 100, 89);

  background-color: #e6e6e6a2;
}

.time_button{
  position:fixed;
  z-index: 1;
  left: 2%;
  bottom: 1%;
  box-shadow:5px 3px 6px grey;  
  border-radius: 100%!important;
  background-color: rgb(163, 163, 163);
  border: 1px;
}
.time_button:hover{
  background-color: rgb(102, 102, 102);
}

.navbar {
  width: 100vw!important;
}

.myform {
  align-self: center;
}

.leftBG{
  background-color: #f7f7f7;
}

.leftButton.active {
  background-color: #87f1b7!important;
  border-color: #87f1b7!important;
  color: #000000!important;
}

.clientButt:hover{
  background-color: #f1f1f1;
}

.img_product{
  height: 200px;
  width: auto
}

button{
  box-shadow:2px 2px 4px grey;  

}

.add_btn{
  border-radius: 35px;
  background-color: #34c475;
  border: 2px;
  border-color: #000000;
  box-shadow:2px 2px 4px grey;  

}

.add_btn:disabled{
  border-radius: 35px;
  background-color: #696969;
  border: 2px;
  border-color: #000000;
}


.no_shadow{
  box-shadow:0px 0px 0px rgba(128, 128, 128, 0);  
}



.add_btn:hover{
  background-color: #289659;
}

.btn_hand{
  background-color: #2d70ff;
}
.btn_hand:hover{
  background-color: #265aca;
}

.bg_login{
  background-color: #ebebeb80;
}


.bg_login2{
  background-color: #e6e6e6a2;
}


.radius_button{
  border-radius: 35px;
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  margin: 0px;
  border-radius: 50px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.radius_button_half1{
  border-radius: 35px 0px 0px 35px;
}
.radius_button_half2{
  border-radius: 0px 35px 35px 0px;
}
.custom_space{
  padding-left: 20%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 0%;
}

.radius_button_small{
  border-radius: 10px;
}

.button_myorders {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.below-nav{
  padding-top: 7rem;
}

.leftButton:hover{
  background-color: #87f1b7!important;
  }


.leftButton{
  background: rgba(255, 255, 255, 0);
  border-radius: 2px;

}

.ordersClosed {
  color: red;
  font-weight: bold;
  font-size: small;
  text-align: center;
}

.nav-color {
  background-color: #56ce8c;
}

@media only screen and (max-width: 1060px) { 
  .navTitle { 
    display: none; 
  } 
}

.form-select {
  background-color: rgb(90, 181, 204);
  border: 1px solid rgb(35, 120, 141);
  margin-top: 20px;
}

.form-floating {
  margin-left: 25%;
  margin-right: 25%;
}

.pay-method {
  color: gray;
  font-size: small;
}

.no_bord{
  border:0px;
}

.search-form {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  padding-right: 0%;
  padding-left: 0%;
}

.accordion-button:focus {
  box-shadow: none;
}

.orders-text {
  font-weight: normal;
}

.acc-header-row {
  min-width: 100%;
}

.badge_conf {
  background-color: #00b894!important;
}
.badge_confprep {
  background-color: #686de0!important;
}
.badge_notpaid {
  background-color: #e17055!important;
}
.badge_paid {
  background-color: #6ab04c!important;
}